* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

body {
  font-family: Arial;
}

p {
  color: #b2b2b2;
  margin-bottom: 10px;
}

a {
  background: #febe01;
  color: #332100;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

span {
  color: #febe01;
}

.item {
  background-color: #111;
  color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 30px;
}
